@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import "../css/Components/NavBar.css";
@import "../css/Components/Sub-NavBar.css";
@import "../css/Components/Main Section.css";
@import "../css/Components/Footer.css";

body {
   background-color: rgb(0, 0, 0);
   margin: 0;
   padding: 0;
   width: 100%;
   min-width: 1260px;
}

.material-symbols-outlined:hover {
   border: none;
}
